.repairs-container {
  max-width: 900px;
  margin: 0 auto;
  margin-top: 20px;

  .repair-wrapper:hover {
    background-color: #f5f5f5;
  }

  h3 {
    position: relative;
    margin-top: 30px;
  }

  .wrapper-create {

    .fa-plus-square {
      float: right;
      max-height: 34px;
      padding-left: 10px;
      position: relative;
      top: 2px;
      color: #2A657E;
    }
  }

  .list-group {
    display: table;
    margin-top: 20px;

    .list-group-item {
      margin-bottom: 10px;
    }
  }

  .filter-wrapper {
    .show-all {
      margin-left: 10px;
      vertical-align: bottom;
    }

    label {
      padding-right: 10px;
    }
  }
}
