// Forms
//––––––––––––––––––––––––––––––––––––––––––––––––––

.login-wrapper {

  .supp_fallback {
    font-size: 1.4rem;
    color: #595959;
  }

  .disabledInput {
    border-color: #ffffff !important;
    cursor: not-allowed;
  }

  label,
  input,
  textarea {
    float: left;
  }

  textarea,
  input {
    @include font-size(1.5);
    font-weight: 300;
  }

  textarea,
  select {
    height: 38px;
    padding: 6px 10px; // The 6px vertically centers text on FF, ignored by Webkit
    background-color: #fff;
    border: 1px solid #C7C7C7;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;
  }

  // Removes awkward default styles on some inputs for iOS
  input {
    &[type="email"],
    &[type="number"],
    &[type="search"],
    &[type="text"],
    &[type="tel"],
    &[type="url"],
    &[type="password"] {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      height: 38px;
      padding: 6px 10px;
      background-color: #fff;
      border: 1px solid #C7C7C7;
      border-radius: 4px;
      box-shadow: none;
      box-sizing: border-box;
    }
  }

  textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    min-height: 65px;
    padding-top: 6px;
    padding-bottom: 6px;

    @media screen and (max-width: 500px) {
      @include font-size(1.6);
    }
  }

  input {
    &[type="email"]:focus,
    &[type="number"]:focus,
    &[type="search"]:focus,
    &[type="text"]:focus,
    &[type="tel"]:focus,
    &[type="url"]:focus,
    &[type="password"]:focus {
      border: 1px solid #6BB63C !important;
      outline: 0;
    }

    @media screen and (max-width: 500px) {
      @include font-size(1.6);
    }
  }

  input {
    &.valid {
      border-color: #6BB63C;
    }
  }

  textarea:focus,
  select:focus {
    border: 1px solid #6BB63C;
    outline: 0;
  }

  select {
    min-width: 200px;
    @include font-size(1.5);
  }

  label,
  legend {
    display: block;
    font-weight: 600;
  }

  fieldset {
    padding: 0;
    border-width: 0;
  }

  input {
    &[type="checkbox"],
    &[type="radio"] {
      display: inline;
    }
  }

  label > .label-body {
    display: inline-block;
    margin-left: .5rem;
    font-weight: normal;
  }

  .button {
    display: inline-block;
    font-weight: 600;
    line-height: 26px;
    padding: 10px 25px 10px 25px;
    border-radius: 8px;
    border: 1px solid #E0E0E0;
    background-color: #fff;
    @include font-size(1.5);
    transition: 250ms;
    cursor: pointer;

    &.disabled {
      pointer-events: none !important;
      background: grey !important;
      border-color: grey !important;
    }

    &:hover {
      transition: 250ms;
    }

    .fa-long-arrow-right {
      width: 14px;
      max-height: 26px;
      margin-left: 15px;
      transition: 250ms;
    }

    &.blue {
      color: $light-blue;

      &:hover {
        color: #fff;
        background-color: $light-blue;
        border-color: $light-blue;

        svg {
          fill: #fff;
        }
      }

      svg {
        fill: $light-blue;
      }
    }

    &.green {
      color: $brand-green;

      &.invert {
        color: #fff;
        background-color: $brand-green;
        border-color: $brand-green;

        svg {
          fill: #fff;
        }

        &:hover {
          background-color: $brand-purple;
          border-color: $brand-purple;
        }
      }

      &:hover {
        color: #fff;
        background-color: $brand-green;
        border-color: $brand-green;

        svg {
          fill: #fff;
        }
      }

      svg {
        fill: $brand-green;
      }
    }

    &.purple {
      color: $brand-purple;

      &:hover {
        color: #fff;
        background-color: $brand-purple;
        border-color: $brand-purple;

        svg {
          fill: #fff;
        }
      }

      svg {
        fill: $brand-purple;
      }
    }

    &.big {
      border-radius: 12px;
      text-transform: uppercase;
      border-color: $brand-purple;
      margin-right: 50px;
      font-weight: 400;

      span {
        font-weight: 600;
      }

      &.purple {
        background-color: $brand-purple;
        color: #fff;

        &:hover {
          background-color: $brand-green;
          border-color: $brand-green;
        }

        svg {
          fill: #fff;
        }
      }
    }
  }

  label.error {
    color: #C26767;
    font-weight: 400;
    font-size: 1.4rem;
  }

  input,
  textarea {
    &.error {
      border: 1px solid #C26767;
    }
  }

  /* Alerts
     ========================================================================== */

  .alert {
    @include float-left(100%);
    text-align: center;
    padding: 15px 35px;
    border-width: 1px;
    border-style: solid;
    margin-bottom: 30px;

    &.success {
      color: #5F795A;
      background-color: #F1FAEB;
      border-color: #D9E6CF;
    }

    &.error {
      color: #AE5A63;
      background-color: #FEEEEE;
      border-color: #DFBEBE;

      a {
        color: #AE5A63;
        border-bottom-color: #AE5A63;
      }
    }
  }

  .error-msg {
    text-align: center;
  }

  /* Forms
     ========================================================================== */

  .form-wrapper {
    position: relative;
    margin: 0 auto;
    // min-width: 600px;
    max-width: 600px;

    //a {
    //	color: $brand-green;
    //}

    .row {
      margin-bottom: 20px;
    }

    .columns.vertical-align {
      line-height: 38px;
    }

    .three.columns label {
      width: 100%;
      text-align: right;

      @media screen and (max-width: 500px) {
        text-align: left;
      }
    }

    .nine.columns {
      input {
        width: 100%;

        &#formPassword {
          width: calc(100% - 45px);
          border-radius: 4px 0 0 4px;
          border-right: 0;
        }
      }
      textarea {
        width: 100%;
        max-width: 444px;
        height: 200px;
        max-height: 500px;
      }
    }

    .three.columns {
      @media screen and (max-width: 500px) {
        width: 100%;
      }
    }

    .nine.columns {
      @media screen and (max-width: 500px) {
        width: 100%;
        margin-left: 0px;
      }
    }
  }

  // Show pw hint

  .showPw {
    float: right;

    background-color: #fff;
    box-shadow: none;
    box-sizing: border-box;

    text-align: center;
    width: 45px;
    height: 38px;
    border-radius: 0 4px 4px 0;
    border-color: #C7C7C7;
    border-style: solid;
    border-bottom-width: 1px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-left-width: 1px;

    &.active {
      .fa-eye {
        color: $brand-green;
      }
    }

    .fa-eye {
      width: 25px;
      max-height: 38px;
      color: #A9A9A9;
      vertical-align: bottom;
    }

    &:hover {
      cursor: pointer;

      .fa-eye {
        color: $brand-green;
      }
    }
  }

}
