/* ==========================================================================
   Layout
   ========================================================================== */

.login-wrapper {

  .wrapper {
    margin: 0 auto;
    width: $base-width;
    padding-right: $layout-padding;
    padding-left: $layout-padding;

    @media screen and (max-width: 615px) {
      padding-right: $layout-padding - 25px;
      padding-left: $layout-padding - 25px;
    }

    @media screen and (max-width: $base-width) {
      width: 100%;
    }

    @media screen and (max-width: 500px) {
      padding-left: 25px;
      padding-right: 25px;
    }
  }

  .container {
    @include float-left(100%);
  }

  .block {
    @include float-left(100%);
    padding: 60px 0;

    &.white {
      background-color: #fff;
    }

    &.grey {
      background-color: #FAFAFA;
    }

    &.header {
      border-bottom: 1px solid #F2F2F2;
    }

    &.header-bar {
      background-color: $brand-purple;
      color: #fff;
      padding: 15px 0;

      .switch {
        border-left: 1px solid #AEA1C7;
        font-size: 1.4rem;
        font-weight: 300;
        text-transform: uppercase;
        margin-left: 15px;
        padding-left: 15px;
        display: inline-block;
        height: 25px;
        position: relative;
        top: -1px;

        span {
          position: relative;
          top: 1px;
        }

        a {
          color: #fff;
          border-bottom: none;
          cursor: pointer;
          cursor: hand;
        }

      }

      .logo {

        display: inline-block;
        height: 25px;
        position: relative;

        span {

          a {
            color: #fff;
            border-bottom: none;
            cursor: pointer;
            cursor: hand;
          }
        }
      }

    }
  }

  #footer {
    background-color: #F0F0F0;
  }

}
