html {
  font-size: 62.5%;
  overflow-x: hidden;
}

.login-wrapper {
  @include font-size(1.6);
  line-height: 1.6;
  font-weight: 400;
  font-family: $base-font;
  color: $base-font-color;
  background-color: #EDEDED;
}

/* Links
   ========================================================================== */
.login-wrapper {

  a {
    color: $brand-green;
    border-bottom: 1px dashed $brand-green;

    &:hover {
      color: darken($brand-green, 5%);
      border-bottom: 1px solid $brand-green;
      text-decoration: none;
    }
    &:focus {
      color: darken($brand-green, 5%);
      border-bottom: 1px dashed $brand-green;
      text-decoration: none;
    }
  }

  .text-center {
    text-align: center;
  }

  strong,
  .strong {
    font-weight: 600;
  }
}

/* Header
   ========================================================================== */

.login-wrapper {

  .block.header {
    padding: 25px 0 20px 0;

    .active-page {
      float: left;
      width: 70%;
    }

    h1, h2 {
      float: left;
      width: 100%;
    }

    h1 {
      @include font-size(3.5);
      color: #737373;
      line-height: 47px;
      font-weight: 500;
    }

    h2 {
      @include font-size(1.7);
      line-height: 19px;
      color: #737373;
      font-weight: 400;

      @media screen and (max-width: 500px) {
        line-height: 29px;
      }
    }
  }
}

/* Breadcrumbs
   ========================================================================== */

.login-wrapper {

  .breadcrumbs {
    @include float-left(100%);

    li {
      @include float-left(auto);

      &:last-child {

        &:after {
          content: " ";
        }
      }

      &:after {
        display: inline-block;
        content: "/";
        color: #878787;
        @include font-size(1.3);
        margin: 0 10px;
      }

      a {
        display: inline-block;
        border: 0;
        @include font-size(1.4);
        color: #878787;

        &:hover {
          border-bottom: 1px solid #878787;
        }
      }
    }
  }

}

/* Lists
   ========================================================================== */

.login-wrapper {

  .list-arrow {
    @include float-left(100%);
    margin-top: 15px;

    li {
      float: left;
      width: 100%;
      margin-bottom: 10px;
      line-height: 26px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &.lightblue {

      li {
        padding: 0px 0 0px 30px;
        @include background-image-retina('../img/arrow-big-right-lightblue', 'png', 13px, 13px);
        background-position: left 6px;
        background-repeat: no-repeat;
      }

      a {
        color: $light-blue;
        font-weight: 600;
        @include font-size(1.7);
        border: 0;

        &:hover {
          border-bottom: 1px solid $light-blue;
        }
      }
    }

    &.green {

      li {
        padding: 0px 0 0px 30px;
        @include background-image-retina('../img/arrow-big-right-green', 'png', 13px, 13px);
        background-position: left 6px;
        background-repeat: no-repeat;
      }

      a {
        color: #51A813;
        font-weight: 600;
        @include font-size(1.7);
        border: 0;

        &:hover {
          border-bottom: 1px solid #51A813;
          text-decoration: none;
        }
      }
    }
  }

}

/* Error message
   ========================================================================== */

.login-wrapper {

  .form-wrapper .server_error_msg {
    float: left;

    position: relative;

    box-sizing: border-box;
    width: 100%;
    margin-bottom: 20px;
    margin-left: 15px;
    padding: 15px 20px;

    text-align: left;

    color: #ae5a63;
    border: 1px solid #dfbebe;
    border-radius: 4px;
    background: #feeeee;
  }

  .form-wrapper .server_error_msg:before,
  .form-wrapper .server_error_msg:after {
    display: table;

    content: ' ';
  }

  .form-wrapper .server_error_msg:after {
    clear: both;
  }

  .form-wrapper .server_error_msg p {
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    margin-bottom: 0;

    display: inline-block;

    width: 100%;
  }

  .form-wrapper .server_error_msg a {
    color: #ae5a63;
    border-bottom: 1px dashed #af5a63;
  }

  .form-wrapper .server_error_msg a:hover {
    border-bottom: 0;
  }

  @media screen and (max-width: 480px) {
    .form-wrapper .server_error_msg {
      font-size: 15px;
    }
  }

}

/* Footer
   ========================================================================== */

.login-wrapper {

  #footer {
    background-color: #EDEDED;
    padding: 50px 0 50px 0;
    color: #666666;

    a {
      margin-left: 5px;
      vertical-align: text-bottom;
      border: 0;
      color: #595959;

      &:hover {
        text-decoration: underline;
      }
    }

    .social {
      float: left;
      width: 100%;
      max-width: 550px;
      padding-left: 0;

      li {
        float: left;
      }

      li.web, li.tw {
        width: 100px;
      }

      li.fb {
        width: 120px;
      }

      li.yt {
        width: 110px;
      }
    }

    .fa {
      color: #595959;
      position: relative;
      top: -4px;
    }

    @media screen and (max-width: 1200px) {
      padding-bottom: 60px;
    }

    .copyright {
      float: right;
      position: relative;
      right: 30px;

      @media screen and (max-width: 600px) {
        @include float-left(100%);
        margin-top: 20px;
      }
    }
  }

}

/* Broswerupgrade bar
   ========================================================================== */

.login-wrapper {

  .browserupgrade {
    position: fixed;
    top: 0;
    padding: 50px 0;
    color: #ae5a63;
    width: 100%;
    min-height: 100px;
    border-bottom: 3px solid #ae5a63;
    background: #dfbebe;
    z-index: 9999999;
    text-align: center;

    a {
      color: #ae5a63;
      border-color: #ae5a63;
    }
  }

}
