// Typography
//––––––––––––––––––––––––––––––––––––––––––––––––––

.login-wrapper {

  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 2rem;
    font-weight: 300;
  }

  h1 {
    @include font-size(4.0);
    line-height: 1.2;
  }
  h2 {
    @include font-size(3.2);
    font-weight: 600;
    line-height: 1.25;
  }
  h3 {
    @include font-size(2.2);
    font-weight: 400;
    line-height: 1.3;
  }
  h4 {
    @include font-size(2);
    font-weight: 400;
    line-height: 1.3;
  }
  h5 {
    @include font-size(1.8);
    font-weight: 400;
    line-height: 1.3;
  }
  h6 {
    @include font-size(1.7);
    font-weight: 400;
    line-height: 1.3;
  }

  p {
    margin-top: 0;
    margin-bottom: 15px;

    &.citation {
      margin-top: 20px;
      font-size: 13px;
    }
  }

  strong {
    font-weight: 600;
  }

  .sub-header {
    font-weight: 500;
    @include font-size(2.0);
    color: #404040;
    line-height: 30px;
    margin-bottom: 60px;

    a {
      color: #404040;
      border-bottom: 1px dashed #404040;

      &:hover {
        color: darken(#404040, 5%);
        border-bottom: 1px solid #404040;
      }
    }
  }

}
