/* Variables
   ========================================================================== */

$base-width: 940px;

$base-font: 'Open Sans', sans-serif;
$base-font-color: #262626;

$media-mobile: $base-width + 10px;
$layout-padding: 15px;

// Breakpoints
$bp-larger-than-mobile    : "min-width: 400px" !default;
$bp-larger-than-phablet   : "min-width: 550px" !default;
$bp-larger-than-tablet    : "min-width: 750px" !default;
$bp-larger-than-desktop   : "min-width: 1000px" !default;
$bp-larger-than-desktophd : "min-width: 1200px" !default;

$bp-smaller-than-mobile    : "max-width: 400px" !default;
$bp-smaller-than-phablet   : "max-width: 550px" !default;
$bp-smaller-than-tablet    : "max-width: 750px" !default;
$bp-smaller-than-desktop   : "max-width: 1000px" !default;
$bp-smaller-than-desktophd : "max-width: 1200px" !default;

$brand-green: #2B8235;
$brand-purple: #29577A;
$light-blue: #3AAE97;
$light-blue-2: #63D6BD;
