.filter-wrapper {

  .wrapper-search .form-group{
    margin-right: 15px;
  }

  h3{
    margin-top: 0;
  }

  .form-group{
    vertical-align: bottom;

    label {
      display: block;
    }

    .checkbox{
      display: block;

      input{
        margin-right: 5px;
      }
    }
  }

  .btn{
    vertical-align: bottom;
  }

}
