.repair-wrapper {

  padding-right: 10px;
  border-radius: 4px;
  width: auto;
  // display: flex;

  &.list-group .list-group-item{
    padding-bottom: 10px;
  }

  div.repair-element {
    display: inline-block;
    vertical-align: top;

    p {
      white-space: normal;
      max-width: 275px;
      margin-bottom: 0;
    }

    .icon-bubble {
      width: 15px;
      height: 15px;
      position: relative;
      top: 2px;
      border-radius: 2px;
    }
  }

  div.repair-element:not(:first-child) {
    margin-left: 20px;
  }

  div.repair-element:first-child {
    border-right: 1px solid black;
    padding-right: 15px;
  }

  .edit{
    margin-left: 20px;
  }

  .edit-buttons{
    display: inline-block;
    margin-left: auto;
    float: right;

    input[type='checkbox'] {
      margin-right: 5px;
    }

    label[for='repair-completed-checkbox']{
      margin-left: 20px;
    }

    label[for='repair-approve-checkbox']{
      margin-left: 10px;
    }

    .icon-pencil {
      width: 15px;
      height: 15px;
      position: relative;
      top: 1px;
      border-radius: 2px;
      vertical-align: top;
    }
  }

  .btn-delete {
    position: relative;
    float: right;

    .icon-close {
      width: 15px;
      height: 15px;
      position: relative;
      top: 1px;
      border: 1px solid;
      border-radius: 2px;
      vertical-align: top;
    }

  }

  .close {
    padding: 1px 5px;
    display: inline-block;
    float: none;
  }

  .footer-repair-span {
    position: absolute;
    bottom: -25px;
    right: 0;
  }
}
