.users-container {
  max-width: 900px;
  margin: 0 auto;
  margin-top: 20px;

  h3 {
    position: relative;
    left: 20px;
  }

  .row-container {
    display: inline-block;
    width: 100%;

    div {
      display: inline-block;
    }

    .row-buttons-container {
      float: right;
      width: 200px;
    }
  }

  .create-button {
    float: left;
    position: relative;
    left: 20px;
    z-index: 100;
    top: 20px;

    .icon-plus {
      width: 13px;
      height: 13px;
      position: relative;
      top: 2px;
      margin-right: 5px;
      fill: white;
    }
  }

  /* Table of users
   ========================================================================== */

  .react-bs-table-tool-bar div.row:first-child div.col-xs-12 {
    padding-right: 0;
    padding-left: 0;
  }

  .react-bs-table-tool-bar div.row:first-child div.col-lg-4 {
    float: right;
    position: relative;
    right: 15px;
  }

  .react-bs-table-pagination div.row div {
    width: 100%;
  }

  .react-bs-table-pagination div.row div.col-md-6 {
    padding-right: 15px;
    padding-left: 15px;
    width: initial;
  }

  .react-bs-table-pagination div.row div.col-md-6:last-child {
    float: right;
  }

  .react-bs-table-container {
    max-width: 500px;
    position: relative;
    left: 10px;

    .react-bs-table-search-form {
      margin-bottom: 5px;
    }

    .btn-danger {
      margin-right: 0;
    }

    .btn-warning, .btn-info {
      margin-right: 5px;
    }

    .react-bs-table table td, .react-bs-table table th {
      white-space: normal;
    }

    td .btn {
      float: right;
      visibility: hidden;
    }

    tr.tr-clickable {
      cursor: pointer;
      cursor: hand;
    }

  }

}
